
{%extends 'queueApp/base.html'%}

    {% block content %}
    <form class="form-signin" action="/login/" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Email address</label>
        {{form.username}}
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        {{form.password}}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        {% if state %}
          <p color="red">{{state}}</p>
        {% endif %}
      </form>



    <p>Forgotten your password? reset it here: <a href="">Reset Password</a></p>
{% endblock %}